.contact {
	position: relative;

	&__info {
		align-self: center;
		position: relative;
		width: 100%;
		padding: 3rem 1rem;
		margin-top: 3rem;
		color: $white;
		font-weight: 600;
		@include skew-section();

		&:after {
			background: $blue;
			z-index: 10;
			left: 0;
		}

		p:last-child() {
			margin-bottom: 0;
		}

		a {
			transition: all ease .3s;
			color: $white;

			&:hover {
				color: $yellow;
			}
		}	

		@include above (sm) {
			padding: 5rem 3rem;
			width: calc(50% - 3rem);
			margin-left: 3rem;
		}
	}

	&__wrap {
		position: relative;
		z-index: 20;
	}

	&__title {
		margin-top: 0;
		margin-bottom: 0;
	}
}