.footer {
	padding-top: 3rem;
	padding-bottom: 3rem;

	&:after {
		z-index: 10;
	}

	&__item {
		color: $white;
		position: relative;
		z-index: 20;

		a {
			color: $white;
			transition: all ease .3s;

			&:hover {
				color: $yellow;
			}
		}


		&:first-child {
			margin-left: 0;

			p:last-child {
				margin-bottom: 0;
			}

			@include below (sm) {
				.footer__title {
					margin-top: 0;
				}
			}
		}

		&:not(:first-child) {

			@include above (sm) {
				margin-left: 12.499965%;
			}
		}
		
		&:not(:last-child) {
			@include above (sm) {
				border-right: $white 1px solid;
			}
		}

		ul {
			margin: 0;
			padding: 0;
			list-style-type: disc;
			list-style-position: inside;
		} 
	}

	&__title {
		color: $white;

		@include above (sm) {
			margin-top: 0;
			font-size: 36px;
		}

		@include above (md) {
			font-size: 56px;	
		}
	}
}
