.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background: linear-gradient(to bottom, #0d1038, transparent);

	@include above (sm) {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}

	&__logo {
		display: block;
		float: left;

		img {
			width: 200px;
			height: 45px;

			@include above (sm) {
				width: 230px;
				height: 52px;
			}

			@include above (lg) {
				width: 378px;
				height: 87px;
			}
		}
	}
}