.home {

	#wysiwygs-1 {
		background: transparent !important;

		@include above (md) {
			padding-top: 10rem;
		}

		&:after {
			background: $white;
		}
	}

	#wysiwygs-2 {
		background: url(../img/stjerner.png) no-repeat center center;
		background-size: contain;
	}
}
