/********************LAYOUTS********************/

/* Base Styles */
.black--bg, .blue--bg,  
.blue-dark--bg, .white--bg {

  @include skew-section();
}

.black--bg, .blue--bg,
.none--bg {
  color: $white;
}

.white--bg {
  color: $black; 
}

.blue--bg {

  a {
    color: $yellow;
  }

  i {
    color: #3b579d;
  }
}

/* WYSIWYGs */
.wysiwygs {
  font-weight: 600;

  &__title {
    margin-top: 0;
  }

  &__col {
	
	@include above (sm) {
  		&.first {
  			p:last-child {
			margin-bottom: 0;
			}
  		}
  	}
	
	&.last {
		p:last-child {
			margin-bottom: 0;
		}
	}
  }
}


.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}


.padding {

  &--top {
    padding-top: 3rem;
  }
  
  &--bottom {
    padding-bottom: 6rem;
  }

  &--both {
    padding-top: 3rem;
    padding-bottom: 6rem;
  }

  @include above (sm) {

    &--top {
      padding-top: 6rem;
    }

    &--bottom {
       padding-bottom: 9rem;
    }

    &--both {
      padding-top: 6rem;
      padding-bottom: 9rem;
    }
  }
}

.margin {

  &--top {
    
  }
  
  &--bottom {
    
  }

  &--both {
  
  }

  @include above (sm) {

    &--top {
      
    }

    &--bottom {
      
    }

    &--both {
   
    }
  }
}