.page {

	&__hero {
		padding-top: 5rem;
		padding-bottom: 5rem;
		color: $white;

		@include below (sm) {
 			background: none !important;  
		}

		@include above (sm) {
			font-size: 23px;
			padding-top: 10rem;
			padding-bottom: 10rem;
			background-size: contain;
			background: no-repeat center center; 
		}
	}

	&__row {
		position: relative;
	}

	&__text {
		position: relative;
		
		p {
			font-weight: 600;
			line-height: 1;
		}
	}
	
	&__title {
		line-height: .9;
		color: $yellow;
		margin-bottom: 0;
	}

	&__product {

		@include above (sm) {
			position: absolute;
			right: 0;
			z-index: 10;
			bottom: -14rem;
		}
	}
}
