.variants {
	background: transparent;
	@include skew-section();
	margin-bottom: 5rem;

	@include above (sm) {
		margin-bottom: 10rem;
	}


	&:after {
		background: $blue-dark;
		height: 90%;

		@include above (md) {
			height: 75%;
		}
	}

	&__item {
		color: $white;
		font-weight: 600;

		@include below (sm) {
			padding-top: 1.5rem;
		}
	}

	&__title {
		margin-top: 0;
	}


	&__fb {
		margin-left: 2.5rem;
		line-height: 0;
	}
}