.btn {
	display: inline-block;
	padding: .6rem 3rem;
	color: $yellow;
	cursor: pointer;
	font-weight: 600;
	text-transform: uppercase;

	&--black {
		position: relative;
		background: $black;
		transform: skew(-21deg);

		span {
			display: inline-block;
			transform: skew(21deg);
		}
	}
}