/* Color classes (modify as needed) */

$colors: "white" $white, "gray" $gray, "black" $black, "yellow" $yellow, "blue" $blue, "blue-dark" $blue-dark;

@each $color in $colors {
  $label: nth($color, 1);
  $value: nth($color, 2);

  .#{$label} {
    color: $value;
  }

  .#{$label}--bg {
    background: $value; 
  }
}
