h1, .h1 {
  font-size: 60px;

  @include above (sm) {
    font-size: 70px;
  }

  @include above (md) {
    font-size: 90px;
  }

  @include above(lg) {
    font-size: 136px;
    
  }
}

h2, .h2 {
  font-size: 50px;

  @include above(md) {
    font-size: 60px;
  }

  @include above(lg) {
    font-size: 90px;
   
  }
}

h3, .h3 {
  font-size: 44px;

  @include above(md) {
    font-size: 54px;
  }

  @include above(lg) {
    font-size: 64px;
  }
}

h4, .h4 {
  font-size: 22px;

  @include above(sm) {
    font-size: 28px;
  }
}

h5, .h5 {
  font-size: 18px;
}

h6, .h6 {
  font-size: 16px;
}


// Change headings font if a heading font is set
@if $font-headings != null {
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    font-family: $font-headings;
    line-height: 1;
    font-weight: 400;
    color: $color-font-headings;
  }
}